<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yjm.dao.LogmaterialMapper">

    <resultMap id="BaseResultMap" type="com.example.yjm.entity.Logmaterial">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="recorder" column="recorder" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="materialId" column="materialId" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="currentLocation" column="currentLocation" jdbcType="VARCHAR"/>
            <result property="receiveTime" column="receiveTime" jdbcType="VARCHAR"/>
            <result property="logTime" column="logTime" jdbcType="VARCHAR"/>
            <result property="preHash" column="preHash" jdbcType="VARCHAR"/>
            <result property="hash" column="hash" jdbcType="VARCHAR"/>
            <result property="transactionHash" column="transactionHash" jdbcType="VARCHAR"/>
            <result property="isDel" column="isDel" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,recorder,userId,
        materialId,phone,currentLocation,
        receiveTime,logTime,preHash,
        hash,transactionHash,isDel
    </sql>
</mapper>
