<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yjm.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.yjm.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="CHAR"/>
            <result property="birthDate" column="birthDate" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="creditScore" column="creditScore" jdbcType="INTEGER"/>
            <result property="roleId" column="roleId" jdbcType="INTEGER"/>
            <result property="isDel" column="isDel" jdbcType="INTEGER"/>
            <result property="violationRecords" column="violationRecords" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password,
        gender,birthDate,email,
        phone,avatar,address,
        creditScore,roleId,isDel,violationRecords
    </sql>
</mapper>
